.idea/
/notebooks_private/
/models_old/
/training_data/
/training_temp/
/benchmarking/
/build/
/notebooks_sarcasm/
/test_data_sarcasm_paper/
/SarcAsM_dist/
/dist/
/_test_data/
/zenodo/
/training_data/
/training_data_final/
/.DS_Store
/.vscode/
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.log
*.DS_Store